.modal {
    color: #263238;
}

.modal-header-ex {
    padding: 10px; 
    display: grid; 
    grid-template-columns: auto auto; 
    justify-content: space-between;
}

.register-btn {
    border-radius: 16px;
    border: none;
    outline: none;
    padding: 8px;
    box-shadow: 0px 2px 2px #0006;
    display: flex;
    align-items: center;
}

.register-btn:hover {
    color: #26A69A;
}